
#btn1{
    margin-top: 20px;
    margin-bottom: 10px;
    align-items: center;
    width: fit-content;
    height:auto;
}
.container{
    display: flex;
    flex-direction: row;
}

.popuptable {
  border-collapse: collapse;
  margin: 25px 0;
  margin-left: 30px;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.popuptable thead tr {
background-color: #070A52;
color: white;
text-align: left;
}

.popuptable th,
.styled-table1 td {
padding: 12px 15px;
}

.popuptable tbody tr {
border-bottom: 1px solid #dddddd;
}

.popuptable tbody tr:nth-of-type(even) {
background-color: #f3f3f3;
}

.popuptable tbody tr:last-of-type {
border-bottom: 2px solid #009879;
}

.popuptable tbody tr.active-row {
font-weight: bold;
color: #009879;
}




  /* table {
   
    border-collapse: collapse;
    margin-left: 200px; */
    /* width: 100%; */
    /* margin-left: 100px; */
  /* } */


  .admintable{
    margin-left: 200px;
  }
  
 
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #btn {
    background-color: #60cf64;
    border: none;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    margin-right: 30px;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  #btn1{
    background-color: #60cf64;
    margin-right: 20px;
    border-radius: 3px;
  }
  #btn2 {
    background-color: #60cf64;
    border: white;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 4px;
    margin-left: 400px;
  }

  

  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #070A52;
  color: white;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}


.ques1{
  /* margin-left: 200px; */
  font-family: 'Times New Roman', Times, serif;
  font-weight:light;
  font-size:large;
  /* width: 30px; */
  display: inline-block;
}

.question1{
  padding: 15px;
}
/* .table1{
display: flex;
margin-right: 100%;
} */
.cmntBox1{
  margin-top: 30px;
  margin-left: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: large;
  display: flex;
  flex-direction: column;
}

textarea{
  width:300px;
  height: 80px;
  margin-top: 10px;
}
textarea::placeholder{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.popupContainer1
{
top:170px;
position: absolute;
width: 900px;
height: 400px;
display: flex;
padding-right: 350px;
justify-content: center;
align-items: center;
}
.popup-boxd1 {
  position: absolute;
  background: aliceblue;
  width: 37vw;
  border-radius: 3px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.4);
}

.comment2{
margin-left: 150px; 
}