/* #btn1{
    margin-top: 20px;
    margin-bottom: 10px;
    align-items: center;
    width: fit-content;
    height:auto;
} */

.container{
    display: flex;
    flex-direction: row;
}

.popuptable {
  border-collapse: collapse;
  /* margin: 25px 0; */
  margin-left: 30px;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.popuptable thead tr {
background-color: #070A52;
color: white;
text-align: left;
}

.popuptable th,
.styled-table1 td {
padding: 12px 15px;
}

.popuptable tbody tr {
border-bottom: 1px solid #dddddd;
}

.popuptable tbody tr:nth-of-type(even) {
background-color: #f3f3f3;
}

.popuptable tbody tr:last-of-type {
border-bottom: 2px solid #009879;
}

.popuptable tbody tr.active-row {
font-weight: bold;
color: #009879;
}
  /* table {
   
    border-collapse: collapse;
    margin-left: 200px; */
    /* width: 100%; */
    /* margin-left: 100px; */
  /* } */


  .admintable{
    margin-left: 200px;
  }
  
 
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #btn {
    background: #6441A5;  
    border: none;
    color: white;
    border-radius: 3px;
    /* padding: 7px 10px; */
    text-align: center;
    font-size: 12px;
    /* width: 50px; */
    cursor: pointer;
  }

  .eye{
    margin-bottom: 5px;
  }
  #btn:hover{
    box-shadow: 2px 2px 2px 2px rgb(57, 61, 78);
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  #btn1{
    background: #6441A5;  
    border: none;
    color: white;
    border-radius: 3px;
    /* padding: 7px 10px; */
    text-align: center;
    font-size: 12px;
    width: 50px;
    cursor: pointer;
  }


  #button1{
   margin-left: 45%;
    background: #6441A5;  
    border: none;
    color: white;
    border-radius: 3px;
    /* padding: 7px 10px; */
    text-align: center;
    font-size: 12px;
    width: 100px;
    cursor: pointer;
  }
  
  #btn2 {
    background-color: #6441A5;
    border: white;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    margin-top: 1px;
    border-radius: 4px;
    margin-left: 400px;
  }

  /* .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(12, 12, 12, 0.15);
}

.styled-table thead tr {
  background-color: #070A52;
  color: white;
  text-align: left;
  height: 50px;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
  height: 50px;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: rgb(243, 214, 203);
}

.styled-table tbody tr:nth-of-type(odd) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
} */


.ques1{
  /* margin-left: 200px; */
  font-family: 'Times New Roman', Times, serif;
  font-weight:light;
  font-size:large;
  /* width: 30px; */
  display: inline-block;
}

.question1{
  padding: 15px;
}
/* .table1{
display: flex;
margin-right: 100%;
} */
.cmntBox1{
  margin-top: 30px;
  margin-left: 20px;
  font-weight: bold;
  font-size: large;
  display: flex;
  flex-direction: column;
}

textarea{
  width:300px;
  height: 80px;
  margin-top: 10px;
  resize: none;
}

.popupContainer1
{
top:100px;
position: absolute;
width: 900px;
height: 300px;
display: flex;
padding-right: 150px;
justify-content: center;
align-items: center;
}

.popup-boxd1 {
  border-radius: 15px;
  position: absolute;
  background: #83a4d4;  
  background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  
  background: linear-gradient(to right, #b6fbff, #83a4d4); 
  width: 37vw;
  border-radius: 10px;
  box-shadow: 000px 000px 1000px 1000px rgba(7, 7, 7, 0.4);
}

.comment2{
margin-left: 25%; 
}

thead{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  height: 50px;
 color: white;
 background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

table tr:hover {
  box-shadow: 2px 2px 9px 2px rgb(14, 14, 14);
 }
 tr:nth-child(even):hover{
  box-shadow: 2px 2px 9px 2px rgb(14, 14, 14);
 }

.tableContainer .center{
  margin-left: auto;
  margin-right: auto;
}
table{
  width: 90%;
  border-radius: 9px;
  margin-top: 30px;
  background-color: #F7FAFF;
  box-shadow: 5px 5px 10px 8px rgba(1,2,2,0.1);
}
 table,tr {
  border: 1px solid rgb(198, 196, 196);
  border-collapse: collapse;
  border-radius: 9px;
}
td{
  padding: 10px 10px;
  text-align: center;
  font-size: 15px;
}

.comments{
  font-size: medium;
  display: flex;
  /* background-color: whitesmoke; */
  border-radius: 5px;
  justify-content: center;
  margin-top: 0%;
}



