.givefeedbackhome{
  background-color: #c5e0e5;
  width: 1000px;
  height: 100%;
}


.givefeedbacktable{
  margin-left: 100px;
  margin-top: 50px;
}


.styled-table1 {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 800px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table1 thead tr {
background-color: #070A52;
color: white;
text-align: left;
}

.styled-table1 th,
.styled-table1 td {
padding: 12px 15px;
}

.styled-table1 tbody tr {
border-bottom: 1px solid #dddddd;
}

.styled-table1 tbody tr:nth-of-type(odd) {
  background-color: #f3f3f3;
}

.styled-table1 tbody tr:nth-of-type(even) {
  background-color: rgb(243, 214, 203);
}

.styled-table1 tbody tr:last-of-type {
border-bottom: 2px solid #009879;
}

.styled-table1 tbody tr.active-row {
font-weight: bold;
color: #009879;
}

.ques{
  margin-left: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight:light;
  font-size:large;
  width: 300px;
  display: inline-block;
}

.question{
  padding: 5px;
}
/* .table1{
display: flex;
margin-right: 100%;
} */
.cmntBox{
  margin-top: 30px;
  margin-left: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  height: 200px;
  display: flex;
  flex-direction: column;
}

textarea{
  width:570px;
  height: 150px;
  margin-top: 10px;
}
textarea::placeholder{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.popupContainer
{
top:210px;
position: absolute;
min-width: 700px;
margin-left: 200px;
height: 200px;
display: flex;
padding-right: 450px;
justify-content: center;
align-items: center;
}
.popup-boxd {
  position: absolute;
  background: aliceblue;
  display: inline-block;
  width: 35vw;
  border-radius: 3px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.4);
}