.Formelement{
    margin-left: 120px;
    width: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 40px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #83a4d4;  
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  
    background: linear-gradient(to right, #b6fbff, #83a4d4); 
    
    /* background: #0f0c29; 
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);  */
    box-sizing: border-box;
    /* box-shadow: 0 15px 25px rgba(220, 225, 227, 0.6); */
    filter: drop-shadow(3px 3px 3px #141414);
    border-radius: 10px;
  }

  h3{
   display: flex;
   justify-content: center;
   padding-bottom: 10px;
  }

  .label{
    /* width: 200px; */
    font-weight: bold;
  }

  /* .requestfeedbackh3{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    width: 300px;
    margin-left: 350px;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    top: 50%;
    left: 50%;
    
  } */

  .requestfeedbackhome{
    /* background-color:#c5e0e5; */
    background-color: grey;
    width: 1000px;
    height: 100%;
  }

  .requestbutton{
    background-color: #83a4d4;
    border-radius: 5px;
    border-color:#96ddea ;
    color:white;  
  }

  .requestbutton:hover{
    background: #83a4d4;  
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);
  }
  
  .newfeedbackhead{
    padding-top: 2px;
    font-weight: bold;
    color: black;
    font-size: 20px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
  }