
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* 
.Head{
  background-color: #070A52;
  font-weight: bold;
  height:60px;
  width: 100%;
}


.Logout button{
  background-color: aliceblue;
  margin-top: 6px;
  margin-right: 10px;
  border-radius: 3px;
  color: black;
}

.Logout:hover{
  color: white;
}

.name{
  padding-left: 20px;
  padding-top: 15px;
  color: white;
  font-weight: bolder;
  font-size: large;
  background-color:#070A52;
}

.name:hover{
  color: #e56e0c;
}
.Head span:nth-of-type(1) { float:left }
.Head span:nth-of-type(2) { float:right } */


.Head {
  background-color: #212121;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 20px;
}

.logo img {
  height: 30px;
  width: 70px;
}

.name {
  font-weight: bolder;
  font-size: large;
  
}

.name:hover{
  color: #FF8C00;
  box-shadow: 3px 3px 5px 3px rgba(243, 239, 239, 0.2);
}

.Logout button {
  background-color: #FF8C00;
  border: none;
  border-radius: 3px;
  color: white;
  margin-right: 10px;
  padding: 5px 10px;
}

.Logout button:hover {
  color: white;
}

.sidebar-header {
  display: flex;
  justify-content: center;
  align-items: center;
 
  width:300px;
  margin-bottom: 20px;
  background-color:aliceblue;
}

.button-link {
  width: 70px;
  display: inline-block;
  padding: 2px 2px 2px 2px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #60cf64;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
}

.button-link:hover {
  background-color:#6cc16f;
}

.scrolltablediv{
  overflow: auto;
  /* max-height: 500px; */
  max-width: 800px;
  margin-left: 50px;
}

.scrolltablediv td{
 border: 1px solid black;
 /* column-width: 200px; */
}

.homeclass1{
  /* background-color: #60cf64; */
  background-color: #c5e0e5;
  /* background-color: gray; */
  width: 1000px;
  height: 600px;
}




/* .profiledetails{
  background-color:#070A52;
  align-items: center;
  align-content: center;
  margin-bottom: 30px;
  color: white;
  font-family: Garamond, serif;
  font-weight: bold;
  width: 300px;
} */

/* .sidebar{
  display: flex;
  width: 300px;
  flex-direction:row ;
  background-color: aliceblue;
  height: 100vh;
} */




.sidebar {
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 90vh;
  background-color: #0f0f0f;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}


.sidebar:hover {
  box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.4);
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 10px;
}

.sidebar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
  background-color: #2b2d42;
  padding: 10px;
  box-shadow: 0px 0px 5px 0px rgba(32, 32, 32, 0.2);
}



.profiledetails {
  background-color: #0f0f0f;
  /* align-items: left;
  align-content: left; */
  margin-bottom: 10px;
  color: white;
  /* font-family: 'Segoe UI', Verdana, sans-serif; */
  width: 100%;
  font-family: 'Lato', sans-serif;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.profiledetails :hover{
  box-shadow: 2px 2px 9px 2px rgb(228, 226, 226);
}
.ant-menu {
  background-color: #2d2d2d;
  color: white;
  border: none;
  width: 100%;
  margin-top: auto;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.ant-menu-item {
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.ant-menu-item:hover {
  background-color: #3a3a3a;
  color: white;
}

.ant-menu-item-selected {
  background-color: #3a3a3a;
  color: white;
}

.ant-menu-item-icon {
  font-size: 20px;
  margin-right: 10px;
}

.menu {
  flex: 1;
  display: flex;
  flex-direction: column;
  
} 
