
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Head{
  /* color: white; */
  background-color: #070A52;
  height: 30px;
  font-weight: bold;
  padding-bottom: 50px;
  width: 100%;
}


.Logout button{
  background-color: aliceblue;

  margin-top: 6px;
  margin-right: 10px;
  border-radius: 3px;
  color: black;
}

.Logout:hover{
  color: white;
}

.name{
  padding-left: 20px;
  padding-top: 10px;
  color: white;
  font-weight: bolder;
  font-size: large;
  background-color:#070A52;
}

.name:hover{
  color: #e56e0c;
}
.Head span:nth-of-type(1) { float:left }
.Head span:nth-of-type(2) { float:right }




.sidebar-header {
  display: flex;
  justify-content: center;
  align-items: center;
 
  width:300px;
  margin-bottom: 20px;
  background-color:aliceblue;
}

.sidebar-profile-img {
  margin-top: 30px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  height: 100px;
}

.profiledetails{
  background-color:#070A52;
  align-items: center;
  align-content: center;
  margin-bottom: 30px;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  width: 300px;
}

.sidebar{
  /* width: 215px; */
  display: flex;
  width: 300px;
  flex-direction:row ;
  background-color: aliceblue;
  height: 100vh;
  /* margin-right: 30px; */
}

