@tailwind base;
@tailwind components;
@tailwind utilities;

.group:hover .group-hover\:flex {
	display: flex !important;
}

body {
  margin: 0;
  background-color: green;
  font-family: "Gill Sans Extrabold", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.feedbacks{
  display: inline-block;
}

.group:hover .group-hover\:flex {
	display: flex !important;
}

.manageusers{
  display: flex;
  flex-direction: column;
  margin-left: 200px;
}


#btn4{
  background-color: #60cf64;
  margin-top: 40px;
  padding: 3px 3px 3px 3px;
  margin-left: 80px;
  border-radius: 3px;
}